
/* Navbar Responsive */

@media screen and (max-width:1165px){
  
    .nav li {
      display: none;
    }
  }
  
  /* Video Responsive */
  
  @media screen and (max-width:1450px){
  
    .page1 .video {
      width: 1410px;
    }
  }
  @media screen and (max-width:1430px){
  
    .page1 .video {
      width: 1400px;
    }
  }
  @media screen and (max-width:1420px){
  
    .page1 .video {
      width: 1390px;
    }
  }
  @media screen and (max-width:1410px){
  
    .page1 .video {
      width: 1380px;
    }
  }
  @media screen and (max-width:1400px){
  
    .page1 .video {
      width: 1360px;
    }
  }
  
  @media screen and (max-width:1380px){
  
    .page1 .video {
      width: 1360px;
    }
  }
  @media screen and (max-width:1380px){
  
    .page1 .video {
      width: 1360px;
    }
  }
  @media screen and (max-width:1360px){
  
    .page1 .video {
      width: 1340px;
    }
  }
  @media screen and (max-width:1340px){
  
    .page1 .video {
      width: 1320px;
    }
  }
  @media screen and (max-width:1320px){
  
    .page1 .video {
      width: 1300px;
    }
  }
  @media screen and (max-width:1300px){
  
    .page1 .video {
      width: 1280px;
    }
  }
  @media screen and (max-width:1280px){
  
    .page1 .video {
      width: 1260px;
    }
  }
  @media screen and (max-width:1260px){
  
    .page1 .video {
      width: 1240px;
    }
  }
  @media screen and (max-width:1240px){
  
    .page1 .video {
      width: 1220px;
    }
  }
  @media screen and (max-width:1220px){
  
    .page1 .video {
      width: 1200px;
    }
  }
  @media screen and (max-width:1180px){
  
    .page1 .video {
      width: 1160px;
    }
  }
  @media screen and (max-width:1160px){
  
    .page1 .video {
      width: 1140px;
    }
  }
  @media screen and (max-width:1140px){
  
    .page1 .video {
      width: 1120px;
    }
  }
  @media screen and (max-width:1120px){
  
    .page1 .video {
      width: 1100px;
    }
  }
  @media screen and (max-width:1100px){
  
    .page1 .video {
      width: 1080px;
    }
  }
  @media screen and (max-width:1080px){
  
    .page1 .video {
      width: 1060px;
    }
  }
  @media screen and (max-width:1060px){
  
    .page1 .video {
      width: 1040px;
    }
  }
  @media screen and (max-width:1040px){
  
    .page1 .video {
      width: 1020px;
    }
  }
  @media screen and (max-width:1020px){
  
    .page1 .video {
      width: 1000px;
    }
  }
  @media screen and (max-width:1000px){
  
    .page1 .video {
      width: 980px;
    }
  }
  @media screen and (max-width:980px){
  
    .page1 .video {
      width: 960px;
    }
  }
  @media screen and (max-width:960px){
  
    .page1 .video {
      width: 940px;
    }
  }
  @media screen and (max-width:940px){
  
    .page1 .video {
      width: 920px;
    }
  }
  @media screen and (max-width:920px){
  
    .page1 .video {
      width: 900px;
    }
  }
  @media screen and (max-width:900px){
  
    .page1 .video {
      width: 880px;
    }
  }
  @media screen and (max-width:880px){
  
    .page1 .video {
      width: 860px;
    }
  }
  @media screen and (max-width:860px){
  
    .page1 .video {
      width: 840px;
    }
  }
  @media screen and (max-width:840px){
  
    .page1 .video {
      width: 820px;
    }
  }
  @media screen and (max-width:820px){
  
    .page1 .video {
      width: 800px;
    }
  }
  @media screen and (max-width:800px){
  
    .page1 .video {
      width: 780px;
    }
  }
  @media screen and (max-width:780px){
  
    .page1 .video {
      width: 760px;
    }
  }
  @media screen and (max-width:760px){
  
    .page1 .video {
      width: 740px;
    }
  }
  @media screen and (max-width:740px){
  
    .page1 .video {
      width: 720px;
    }
  }
  @media screen and (max-width:720px){
  
    .page1 .video {
      width: 700px;
    }
  }
  
